@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Rubik:wght@600&display=swap');

@media (max-width: 500px) {
  .text-area {
    width: 350px;
  }
}
body {
  margin: 0;
  font-family: Rubik, Karla, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


* {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

::selection {
  background: black;
  color: white;
}

.text-area {
  border: none;
  border-bottom: 5px solid #9491EC;
  font-size: 30px;
  text-align: center;
}

.text-area:focus {
  outline: none;
}